/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

html,
body {
  height: 100%;
  margin: 0;
}

.error-snackbar {
  --mat-snackbar-container-color: var(--mat-sys-error-container);
  --mat-snackbar-supporting-text-color: var(--mat-sys-on-error-container);
}
